<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Dash Cidades</strong> desenvolvido por <a href="#">Luann</a>
    </p>
  </div>
</footer>
<style media="screen">
  .footer {
    margin-top: 10%;
    background-color:  white;
  }
</style>
