<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Galaxy Bank</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  </head>

    <!-- navigation -->
    <nav class="navbar is-primary">
      <a class="navbar-link is-arrowless" href="/"><h1>Dash Cidade</h1></a>
    </nav>
    <div class="tabs is-centered">
      <ul>
        <li class=""><a href="/">Dashboard</a></li>
        <li><a>Sobre</a></li>
      </ul>
    </div>
    <style media="screen">
      h1 {
        font-size: 30px;
        font-weight: bold;
      }
    </style>
