<% include partials/_header %>

<thead class="container">
  <thead class="row">
    <div class="col-md-4">
      <div class="card-body" id="form-cidade">
        <form action="cidades/add" method="POST">
          <div class="field">
            <label for="cid_nome">Nome da cidade:</label>
            <input type="text" name="cid_nome" placeholder="Nome" class="input is-rounded" autofocus>
          </div>
          <div class="field">
            <label for="cid_populacao">Polulação:</label>
            <input type="text" name="cid_populacao" placeholder="População" class="input is-rounded">
          </div>
          <div class="field">
            <label for="cid_telefone">Contato prefeitura:</label>
            <input type="text" name="cid_telefone" placeholder="Telefone" class="input is-rounded">
          </div>
          <div class="field">
            <label for="pre_codigo">Código do prefeito:</label>
            <input type="text" name="pre_codigo" placeholder="Código do prefeito" class="input is-rounded">
          </div>

          <button type="submit" class="button is-info is-rounded">
            Salvar cidade
          </button>
        </form>
      </div>
    </div>
  </div>
<div>
    <thead class="col-md-4">
      <table class="table is-striped table is-hoverable">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nome da cidade</td>
            <td>Polulação</td>
            <td>Contato prefeitura</td>
            <td>Verba</td>
            <td>#</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
          <% for(var i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= data[i].cid_codigo %></td>
            <td><%= data[i].cid_nome %></td>
            <td><%= data[i].cid_populacao %></td>
            <td><%= data[i].cid_telefone %></td>
            <td><%= data[i].pre_nome %></td>
            <td>
              <a href="/cidades/update/<%= data[i].cid_codigo %>" class="button is-primary is-rounded">Editar</a>
              <a href="/cidades/delete/<%= data[i].cid_codigo %>" class="delete">Deletar</a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </thead>
</div>
  </thead>
</thead>
<style media="screen">
  .container {
    width: 50%;
  }

  .row {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .delete{
    background-color: red;
  }

  #form-cidade {
    width: 50%
  }
</style>
<% include partials/_footer %>