<% include partials/_header %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card-body">
                <form action="/prefeitos/update/<%= data.pre_codigo %>" method="POST">
                    <div class="field">
                        <label for="pre_nome">Nome do prefeito:</label>
                        <input type="text" name="pre_nome" value="<%= data.pre_nome%>" placeholder="Nome"
                            class="input is-rounded" autofocus>
                    </div>
                    <div class="field">
                        <label for="pre_patrimonio">Patrimonio:</label>
                        <input type="text" name="pre_patrimonio" value="<%= data.pre_patrimonio%>" placeholder="Apelido"
                            class="input is-rounded">
                    </div>
                    <div class="field">
                        <label for="pre_verba">Verba:</label>
                        <input type="text" name="pre_verba" value="<%= data.pre_verba%>" placeholder="Telefone"
                            class="input is-rounded">
                    </div>

                    <button type="submit" class="button is-dark is-rounded">
                        Salvar gerente
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<style media="screen">
    .container {
        width: 100%;
    }

    .row {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
</style>
<% include partials/_footer %>
