<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card-body">
        <form action="/cidades/update/<%= data.cid_codigo %>" method="POST">
          <div class="field">
            <label for="cid_nome">Nome da cidade:</label>
            <input type="text" name="cid_nome" value="<%= data.cid_nome%>"
            placeholder="Nome" class="input is-rounded" autofocus>
          </div>
          <div class="field">
            <label for="cid_populacao">Polulação:</label>
            <input type="text" name="cid_populacao" value="<%= data.cid_populacao%>"
            placeholder="Apelido" class="input is-rounded">
          </div>
          <div class="field">
            <label for="cid_telefone">Contato prefeitura:</label>
            <input type="text" name="cid_telefone" value="<%= data.cid_telefone%>"
            placeholder="Telefone" class="input is-rounded">
          </div>
          <div class="field">
            <label for="cid_verba">Verba:</label>
            <input type="text" name="cid_verba" value="<%= data.cid_verba%>"
            placeholder="Banco" class="input is-rounded">
          </div>

          <button type="submit" class="button is-dark is-rounded">
            Salvar gerente
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  .container {
    width: 100%;
  }

  .row {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
</style>
<% include partials/_footer %>
