<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card-body">
        <form action="/regiaos/update/<%= data.reg_codigo %>" method="POST">
          <div class="field">
            <label for="reg_nome">Número:</label>
            <input type="text" name="reg_nome" value="<%= data.reg_nome%>" placeholder="Número da conta"
              class="input is-rounded" autofocus>
          </div>
          <div class="field">
            <div class="control">
              <div class="field">
                <label for="reg_tipo">Tipo:</label>
                <br />
                <select name="reg_tipo" class="select is-rounded">
                  <option value="Norte">Norte</option>
                  <option value="Sul">Sul</option>
                  <option value="Oeste">Oeste</option>
                  <option value="Leste">Leste</option>
                </select>
              </div>
            </div>
            <label for="reg_producao">Número:</label>
            <input type="text" name="reg_producao" value="<%= data.reg_producao%>" placeholder="Número da conta"
              class="input is-rounded" autofocus>
          </div>
          <div class="field">
            <label for="reg_populacao">População:</label>
            <input type="text" name="reg_populacao" value="<%= data.reg_populacao%>" placeholder="População"
              class="input is-rounded">
          </div>
          <div class="field">
            <label for="rod_codigo">Rodovia:</label>
            <input type="text" name="rod_codigo" value="<%= data.rod_codigo%>" placeholder="Ano de abertura"
              class="input is-rounded">
          </div>
          <div class="field">
            <label for="cid_codigo">Codigo:</label>
            <input type="text" name="cid_codigo" value="<%= data.cid_codigo%>" placeholder="Código gerente"
              class="input is-rounded">
          </div>

          <button type="submit" class="button is-dark is-rounded">
            Salvar conta
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  .container {
    width: 100%;
  }

  .row {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
</style>
<% include partials/_footer %>