<% include partials/_header %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card-body">
                <form action="/rodovias/update/<%= data.rod_codigo %>" method="POST">
                    <div class="field">
                        <label for="rod_nome">Nome da rodovia</label>
                        <input type="text" name="rod_nome" value="<%= data.rod_nome%>" placeholder="Nome"
                            class="input is-rounded" autofocus>
                    </div>
                    <div class="field">
                        <label for="rod_extensao">Extensão:</label>
                        <input type="text" name="rod_extensao" value="<%= data.rod_extensao%>" placeholder="Apelido"
                            class="input is-rounded">
                    </div>
                    <button type="submit" class="button is-dark is-rounded">
                        Salvar rodovia
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<style media="screen">
    .container {
        width: 100%;
    }

    .row {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
</style>
<% include partials/_footer %>
