<% include partials/_header %>
<div class="dash">
  <div class="cidades">
    <% if (cidadesCount) { %>
    <p class="quantity"><%= cidadesCount %></p>
    <% } %>
    <p class="description">Cidades cadastrados</p>
    <a href="/cidades" class="button is-large button is-warning is-rounded">Ver cidades</a>
  </div>
  <div class="">
    <div class="regiaos">
      <% if (regiaosCount) { %>
      <p class="quantity"><%= regiaosCount %></p>
      <% } %>
      <p class="description">Região cadastradas</p>
      <a href="/regiaos" class="button is-large button is-dark is-rounded">Ver regiaos</a>
    </div>
  </div>

  <div class="">
    <div class="prefeitos">
      <% if (prefeitoCount) { %>
      <p class="quantity"><%= prefeitoCount %></p>
      <% } %>
      <p class="description">Prefeitos cadastradas</p>
      <a href="/prefeitos" class="button is-large button is-dark is-rounded">Ver Prefeitos</a>
    </div>
  </div>
  <div class="">
    <div class="rodovias">
      <% if (rodoviaCount) { %>
      <p class="quantity"><%= rodoviaCount %></p>
      <% } %>
      <p class="description">Rodovias cadastradas</p>
      <a href="/rodovias" class="button is-large button is-dark is-rounded">Ver Rodovias</a>
    </div>
  </div>
</div>
<% include partials/_footer %>
<style media="screen">
  .row {
    width: 100%;
    margin-top: 50px;
    display: flex;
    /* justify-content: space-between; */
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
  }

  .quantity {
    font-size: 80px;
    font-weight: bold;
  }

  .description {
    font-size: 40px;
  }

  .cidades {
    text-align: center;
    height: 300px;
  }

  .regiaos {
    text-align: center;
    height: 300px;
  }

  .button {
    margin-top: 30px;
  }
</style>