<% include partials/_header %>

<thead class="container">
    <thead class="row">
        <div class="col-md-4">
            <div class="card-body" id="form-cidade">
                <form action="prefeitos/add" method="POST">
                    <div class="field">
                        <label for="pre_nome">Nome do prefeito</label>
                        <input type="text" name="pre_nome" placeholder="Nome" class="input is-rounded" autofocus>
                    </div>
                    <div class="field">
                        <label for="pre_patrimonio">Patrimonio:</label>
                        <input type="text" name="pre_patrimonio" placeholder="Apelido" class="input is-rounded">
                    </div>
                    <div class="field">
                        <label for="pre_verba">Verba:</label>
                        <input type="text" name="pre_verba" placeholder="Banco" class="input is-rounded">
                    </div>

                    <button type="submit" class="button is-info is-rounded">
                        Salvar Prefeito
                    </button>
                </form>
            </div>
        </div>
        </div>
        <div>
            <thead class="col-md-4">
                <table class="table is-striped table is-hoverable">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Nome do prefeito</td>
                            <td>Patrimonio</td>
                            <td>Verba</td>
                            <td>#</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                        <% for(var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= data[i].pre_codigo %></td>
                            <td><%= data[i].pre_nome %></td>
                            <td><%= data[i].pre_patrimonio %></td>
                            <td><%= data[i].pre_verba %></td>
                            <td>
                                <a href="/prefeitos/update/<%= data[i].pre_codigo %>"
                                    class="button is-primary is-rounded">Editar</a>
                                <a href="/prefeitos/delete/<%= data[i].pre_codigo %>" class="delete">Deletar</a>
                            </td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </thead>
        </div>
    </thead>
</thead>
<style media="screen">
    .container {
        width: 50%;
    }

    .row {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    .delete {
        background-color: red;
    }

    #form-cidade {
        width: 50%
    }
</style>
<% include partials/_footer %>