<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Produção</td>
            <td>Tipo</td>
            <td>População</td>
            <td>Rodovia</td>
            <td>Cidade</td>
            <td>Ações</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
          <% for(var i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= data[i].reg_codigo %></td>
            <td><%= data[i].reg_nome %></td>
            <td><%= data[i].reg_producao %></td>
            <td><%= data[i].reg_tipo %></td>
            <td><%= data[i].reg_populacao %></td>
            <td><%= data[i].rod_nome %></td>
            <td><%= data[i].cid_nome %></td>
            <td>
              <a href="/regiaos/update/<%= data[i].reg_codigo %>" class="button is-dark is-rounded">Editar</a>
              <a href="/regiaos/delete/<%= data[i].reg_codigo %>" class="delete"></a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card-body">

          <form action="regiaos/add" method="POST">
            <div class="field">
              <label for="reg_nome">Nome da Região:</label>
              <input type="text" name="reg_nome" placeholder="Número" class="input is-rounded" autofocus>
            </div>
            <div class="field">
              <div class="control">
                <label for="reg_tipo">Tipo:</label>
                <div class="select is-rounded"">
                  <select name="reg_tipo">
                    <option value="Norte">Norte</option>
                    <option value="Sul">Sul</option>
                    <option value="Oeste">Oeste</option>
                    <option value="Leste">Leste</option>
                  </select>
                </div>
              </div>
            </div>
            <br />
            <div class="field">
              <label for="saldo">População:</label>
              <input type="text" name="reg_populacao" placeholder="Numero de habitantes" class="input is-rounded">
            </div>
            <div class="field">
              <label for="reg_producao">Produção:</label>
              <input type="text" name="reg_producao" placeholder="Informe o tipo de produção" class="input is-rounded">
            </div>
            <div class="field">
              <label for="rod_codigo">Rodovia:</label>
              <input type="text" name="rod_codigo" placeholder="Codigo da " class="input is-rounded">
            </div>

            <div class="field">
              <label for="cid_codigo">Cidade:</label>
              <input type="text" name="cid_codigo" placeholder="Código da cidade" class="input is-rounded">
            </div>

            <button type="submit" class="button is-warning is-rounded">
              Salvar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  .container {
    display: grid;
    justify-content: center;
  }

  .row {
    width: 100%;
    margin-top: 50px;
  }
</style>
<% include partials/_footer %>