<% include partials/_header %>

<thead class="container">
    <thead class="row">
        <div class="col-md-4">
            <div class="card-body" id="form-cidade">
                <form action="rodovias/add" method="POST">
                    <div class="field">
                        <label for="rod_nome">Nome da rodovia:</label>
                        <input type="text" name="rod_nome" placeholder="Nome" class="input is-rounded" autofocus>
                    </div>
                    <div class="field">
                        <label for="rod_extensao">Extensão:</label>
                        <input type="text" name="rod_extensao" placeholder="População" class="input is-rounded">
                    </div>
                    <button type="submit" class="button is-info is-rounded">
                        Salvar cidade
                    </button>
                </form>
            </div>
        </div>
        </div>
        <div>
            <thead class="col-md-4">
                <table class="table is-striped table is-hoverable">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Nome da rodovia</td>
                            <td>Extensão</td>
                            <td>#</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                        <% for(var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= data[i].rod_codigo %></td>
                            <td><%= data[i].rod_nome %></td>
                            <td><%= data[i].rod_extensao %></td>
                            <td>
                                <a href="/rodovias/update/<%= data[i].rod_codigo %>"
                                    class="button is-primary is-rounded">Editar</a>
                                <a href="/rodovias/delete/<%= data[i].rod_codigo %>" class="delete">Deletar</a>
                            </td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </thead>
        </div>
    </thead>
</thead>
<style media="screen">
    .container {
        width: 50%;
    }

    .row {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    .delete {
        background-color: red;
    }

    #form-cidade {
        width: 50%
    }
</style>
<% include partials/_footer %>